<h3>View Paciente Details</h3>
<div>
  <div>
    <label> <b>ID:</b></label> {{paciente.id}}
  </div>

  <div>
    <label> <b>Name Hash:</b></label> {{paciente.nameHash}}
  </div>

  <div>
    <label><b>Sexo:</b></label> {{paciente.sexo}}
  </div>

  <div>
    <label><b>Ano Nascimento:</b></label> {{paciente.anoNascimento}}
  </div>

  <div>
    <label><b>Cidade:</b></label> {{paciente.cidade}}
  </div>

  <div>
    <label><b>UF:</b></label> {{paciente.uf}}
  </div>

  <div>
    <label><b>Pais:</b></label> {{paciente.pais}}
  </div>
</div>
